#hierarchy{
	font-family: FontAwesome;
	witdh: 300px;
}

button{
	width: 5%;
	height: 1REM;
}

details{
	background-color: rgba(0, 0, 150, 0.04);
}

.form-control{
	width: 20%;
}

.folder:before, .file:before{
	padding-right: 10px;
}

.icon{
	width: 15px;
	height: 15px;
}

/* Adds indentation to folders */
.tab{
	padding-left: 2rem;
}


	